.flex{
    display:flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.border{
    border: none;
    margin: 3px;
    border-radius: 10px;
}

.bg-black{
    background-color: #000000;
    color: white;
}

.invert{
    filter: invert(1);
}